::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

body {
    overflow:hidden;
}
/*Estilo Menú ciruclar*/
.cn-button {
    margin-top: -8.5em;
    margin-left: -1.5em;
    width: 3em;
    height: 3em;
}
.cn-wrapper {
    margin-top: -17.75em;
    margin-left: -8.75em;
    width: 17.5em;
    height: 17.5em;
}
a:hover {
    cursor: pointer;
}
a:hover, a:focus {
    color: orange;
}
/*Estilo Sidenavs*/
md-sidenav  {
  width: 70px;
  height:100%;
  padding:0px;
  background-color: gray;
  overflow:hidden;
}
md-content {
  background-color : #222222;
  height:100%;
  padding:0px;
  color: white;
  overflow: hidden;
}

.leaflet-control-container, .leaflet-top,.leaflet-left{
  visibility: : "hidden";
}
.mapa {
      padding-left: 0px;
      padding-right: 0px;
      overflow: hidden;
      margin-left: 0px;
       }
.sidenav0 {
      width: 70px;
      padding:0px;
      background-color: black;
      overflow:hidden;
      max-width: 70px;
      min-width: 70px;
            }

.sidenav1 {
        padding:0px;
        background-color: #222222;
        overflow:hidden;
        margin-left: 0px;
        width: 280px;
        max-width: 280px;
        min-width: 280px;
      }
.sidenav2 {
      width: 300px;
      padding:0px;
      background-color: #303030;
      overflow: hidden;;
      margin-left: 0px;
      position: fixed;
      min-width: 300px;
      max-width: 300px;
    }
.sidenav3 {
        padding:0px;
        background-color: #222222;
        overflow:hidden;
        margin-left: 0px;
        width: 280px;
        max-width: 280px;
        min-width: 280px;
            }
.sidenav5 {
        width: 90%;
        padding:0px;
        background-color: #222;
        overflow: hidden;
        margin-left: 70px;
        margin-top: 40px;
        margin-bottom: 70px;
        position: fixed;
        min-width: 90%;
        max-width: 90%;
        min-height: 80%;
        max-height: 80%;
                }
md-toolbar {
        box-sizing: border-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        z-index: 2;
        font-size: 20px;
        min-height: 34px;
        width: 100%;
      }
      titulobar, .titulobar {
          font-size: 14px;
          color: white;
          text-align: left;
          text-decoration: none;
      }
.md-toolbar-tools {
    font-size: 20px;
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 30px;
    max-height: 30px;
    padding: 2 2px;
    margin: 4px;
    }

.navbar-brand {
    float: left;
    height: 24px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 5px;
    }

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
        color: white;
    }
md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
        color: rgba(198, 193, 193, 0.5);
    }
md-backdrop.md-opaque {
    opacity: 0;
}
md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: rgba(33,33,33,1.0);
}
md-backdrop.md-sidenav-backdrop {
    z-index: 59;
}
md-backdrop {
    transition: opacity 0ms;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

glyphicon{
  padding: 5px;
}
/*Angular-awesome-slider directiva*/
.jslider div.jslider-label {
    position: absolute;
    top: -18px;
    left: 0;
    padding: 0 2px;
    opacity: .4;
    color: #F6F0F0;
    font-size: 9px;
    line-height: 12px;
    white-space: nowrap;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #303030;
    color: white;
   border: 0px solid #303030;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}

button.accordion1 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    height: 70px;
}

md-divider.md-default-theme, md-divider {
    border-top-color: rgb(142, 141, 141);
}

md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
    background-color: rgb(255, 176, 64);
}
md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
    color: rgb(255, 176, 64);
}
md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
    background-color: rgba(255, 176, 64, 0.5);
}
md-list-item .md-avatar, md-list-item .md-list-item-inner .md-avatar {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
md-switch .md-bar {
    left: 1px;
    width: 30px;
    top: 5px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
}
md-switch .md-thumb {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    outline: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
md-checkbox .md-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
    border-color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 10;
    right: 10px;
    color: white;
}
md-checkbox.md-default-theme .md-icon, md-checkbox .md-icon {
    border-color: rgba(244, 244, 244, 0.7);
}
md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
    background-color: orange;
    color: orange;
}

md-list-item md-checkbox.md-secondary, md-list-item .md-list-item-inner md-checkbox.md-secondary {
    margin-right: 7px;
    margin-bottom: 3px;
}

md-list-item .md-list-item-inner .md-secondary {
    position: absolute;
    top: 80%;
    right: 10px;
    border-left-color: orange;
    border-left-width: 10px;
    margin: 0 0 16px 16px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    bottom: 10px;
}
md-list-item .md-secondary-container, md-list-item .md-secondary, md-list-item .md-list-item-inner .md-secondary-container, md-list-item .md-list-item-inner .md-secondary {
    position: absolute;
    top: 80%;
    right: 1px;
    border-left-color: #ce4844;
    border-left-width: 10px;
    margin: 0 0 0 16px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

md-list-item .md-secondary1 {
    position: absolute;
    top: 30%;
    right: 8px;
    margin: 0 0 0 16px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.change .md-icon {
  color:orange;
}

.md-icon:hover {
  color:orange;
}
md-list-item .md-avatar, md-list-item .md-avatar-icon, md-list-item .md-list-item-inner .md-avatar, md-list-item .md-list-item-inner .md-avatar-icon {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 16px;
    border-radius: 5%;
    box-sizing: content-box;
}
md-list-item:hover{
  background-color: #303030;
  border-left-width: : 50px;
  border-left-color: orange;
  border-left-style: solid;
}
.listitemselect{
  background-color: #303030;
  border-left-width: : 50px;
  border-left-color: orange;
  border-left-style: solid;
}
.p, p{
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: normal;
  color:gray;
  line-height: 14px;
  box-sizing: border-box;
  margin: 0;
padding: 0;
}
label, .label{
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: normal;
  color:white;
  line-height: 14px;
  box-sizing: border-box;
}
h5capa, .h5capa {
    font-size: 12px;
    line-height: 0.8;
    font-weight: bold;

}
h6capa, .h6capa {
    font-size: 11px;
    color: white;
    width: 100px;
}

.dropchop-form-parameter {
    margin-bottom: 1em;
    margin-left: 10px;
    font-size: 13px;
    font-size: 0.8em;
    text-transform: none;
    font-weight: 100;
    clear: both;
}
.dropchop-form-description{
margin-bottom: 4px;
font-size: 12px;
font-weight: normal;
color: #e3e0e0;
line-height: 14px;
box-sizing: border-box;
}
.dropchop-form-parameter .dropchop-form-parameter-label {
    display: block;
    color: #555;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 900;
}
.dropchop-form-parameter-label{
  margin-top: 10px;

}
.dropchop-form-parameter-description{
  font-size: 9px;
  text-transform: none;
  font-weight: 100;
  clear: both;
}
.dropchop-form-parameter input, .dropchop-form-parameter select {
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 0.9em;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.button.accordion1.active, button.accordion1:hover {
    background-color: #ddd;
    border-left-width: 20px;
    border-left-color: red;
}

/* Style the accordion panel. Note: hidden by default */
div.panel1 {
    padding: 0 18px;
    background-color: white;
    display: none;

}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #303030;
    color: #E0DEDE;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #222222;
    color: white;
    border-left-width: 20px;
    border-left-color: red;
}

md-slider {
    height: 48px;
    position: relative;
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0;
    width: 100px;
}

md-input-containerSlider {
    -webkit-order: 2;
    -ms-flex-order: inherit;
    order: 2;
    display: block;
    margin-top: 0;
    background: none;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-width: 0 0 1px 0;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 40px;
    box-sizing: border-box;
    float: left;
}
/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 5px;
    background-color: #3C3C3C;
    color: #C5C3C3;
    display: none;
}
div.panel1.show {
    display: block !important;
}

.container {
        padding:0px;
        background-color: #303030;
        margin-left: 0px;
        margin-top: 0px;
        color: white;
        width: 100%;
        overflow-y: auto;
            }
.container-tabla {
        padding:0px;
        background-color: gray;
        margin-left: 0px;
        margin-top: 0px;
        color: white;
        width: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
        }

        .table-wrapper {
          position:relative;
        }
        .table-scroll {
          height:150px;
          overflow:auto;
          margin-top:20px;
        }
        .table-wrapper table {
          width:100%;

        }
        .table-wrapper table * {
          background:black;
          color:white;
        }
        .table-wrapper table thead th .text {
          position:absolute;
          top:-20px;
          z-index:2;
          height:20px;
          width:35%;
          border:0px solid #303030;
        }


.tabla {
                padding:0px;
                background-color: #303030;
                margin-left: 0px;
                margin-top: 0px;
                color: white;
                width: 100%;
                overflow-y: scroll;
                overflow-x: scroll;
                }
.list-group {
  padding:0px;
  background-color: #303030;
  margin-left: 0px;
   color: black;
   width: 98%%;
   margin: 0px;
   margin-top: 48px;
}



.md-list-item {
  padding:0px;
  background-color: black;
  margin-left: 0px;
   color: #F1EEE8;
   width: 100%;
}
.well {
  color: grey;
  font-size: : 12px;
  font-family: helvetica;
  background-color: #303030;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  border-color: grey;
}
.toolbarcapa {
  color: grey;
  font-size: : 12px;
  font-family: helvetica;
  background-color: #303030;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  border-color: grey;
}

.md-button {
        padding: 0 6px 0 6px;
        margin: 6px 8px 6px 8px;
        min-width: 44px;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        text-decoration:none;
        border: none;
        outline: none;
      }

.md-button:not([disabled]):hover {
        background-color: rgba(34, 24, 34, 0.2);
        color:gray;
      }

.md-button.md-fab {
        line-height: 5.6rem;
        min-width: 0;
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 50%;
      }
.md-button.md-fab.md-mini {
        padding: 0 6px 0 6px;
        margin: 6px 8px 6px 8px;
        min-width: 44px;
        border-radius: 3px;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        text-decoration:none;
        border: 1px;
        outline: 1px;
        border-radius: 50%;
        border-color: white;
        background-color: #303030;
      }
.md-button.md-fab.md-mini:not([disabled]):active, .md.button.md-fab:not([disabled]):active {
              background-color: #F1A12F;
            }
  .md-button.md-fab.md-mini:not([disabled]):hover, .md.button.md-.md-mini:hover {
        background-color: #F1A12F;
        color:gray;
            }
  .md-secondary1:hover {
      background-color: rgba(34, 24, 34, 0.2);
      color:blue;
      }
  .md-secondary1:visited {
      background-color: rgba(34, 24, 34, 0.2);
      color:red;
      }
  .md-ripple-container {
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: rgb(44, 44, 44);
    color: rgba(255,255,255,0.87);
}


    .container-nav1 {
    padding: 0px;
    background-color: #222;
    margin-left: 0px;
    margin-top: 0px;
    color: white;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.container-nav2 {
padding: 0px;
background-color: #222;
margin-left: 0px;
margin-top: 0px;
color: white;
width: 100%;
overflow-y: auto;
overflow-x: hidden;
}
.angular-accordion-header {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 10px;
    margin: 0;
    line-height: 12px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.angular-accordion-container {
    height: 100%;
    width: 100%;
}

.angular-accordion-pane {
    padding: 2px;
}

.angularaccordionheaderselected {
    background-color: #3c3c3c;
    color: white;
    font-weight: normal;
    border-left-width: : 50px;
    border-left-color: orange;
}

.angular-accordion-header:hover {
    text-decoration: underline !important;
    background-color: #3c3c3c;
    border-left-width: : 50px;
    border-left-color: orange;
}

.angularaccordionheaderselected:hover {
    text-decoration: underline !important;
    border-left-width: : 50px;
    border-left-color: orange;
}

.angular-accordion-pane-content {
    padding: 5px;
    overflow-y: auto;
    border-left: 0px solid #bbb;
    border-right: 0px solid #bbb;
    border-bottom: 0px solid #bbb;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.angulardisabledpane {
    opacity: .2;
}
}
Inherited from body.ng-scope


  @media only screen and (min-width: 320px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 568px;}
      .container-nav2 {height: 344px}
      .sidenav0 {height: 568px}
      .sidenav1 {height: 568px}
      .sidenav2 {height: 568px}}
  @media only screen and (min-width: 360px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 640px;}
      .container-nav2 {height: 420px}
      .sidenav0 {height: 640px}
      .sidenav1 {height: 640px}
      .sidenav2 {height: 640px}}
  @media only screen and (min-width: 375px) {
        .mapa {
          width: 100%;
          padding: = 0;
          height: 667px;}
          .container-nav2 {height: 443px}
          .sidenav0 {height: 667px}
          .sidenav1 {height: 667px}
          .sidenav2 {height: 667px}}
  @media only screen and (min-width: 411px) {
        .mapa {
          width: 100%;
          padding: = 0;
          height: 657px;}
          .container-nav2 {height: 433px}
          .sidenav0 {height: 657px}
          .sidenav1 {height: 657px}
          .sidenav2 {height: 657px}}
  @media only screen and (min-width: 414px) {
        .mapa {
          width: 100%;
          padding: = 0;
          height: 736px;}
          .container-nav2 {height: 512px}
          .sidenav0 {height: 736px}
          .sidenav1 {height: 736px}
          .sidenav2 {height: 736px}}
  @media only screen and (min-width: 435px) {
        .mapa {
          width: 100%;
          padding: = 0;
          height: 773px;}
          .container-nav2 {height: 550px}
          .sidenav0 {height: 773px}
          .sidenav1 {height: 773px}
          .sidenav2 {height: 773px}}
  @media only screen and (min-width: 481px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 290px;}
      .container-nav2 {height: 150px}
      .sidenav0 {height: 290px}
      .sidenav1 {height: 290px}
      .sidenav2 {height: 290px}}
  @media only screen and (min-width: 568px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 320px;}
      .container-nav2 {height: 80px}
      .sidenav0 {height: 320px}
      .sidenav1 {height: 320px}
      .sidenav2 {height: 320px}}
  @media only screen and (min-width: 640px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 360px;}
      .container-nav2 {height: 240px}
      .sidenav0 {height: 360px}
      .sidenav1 {height: 360px}
      .sidenav2 {height: 360px}}
  @media only screen and (min-width: 667px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 386px;}
      .container-nav2 {height: 160px}
      .sidenav0 {height: 386px}
      .sidenav1 {height: 386px}
      .sidenav2 {height: 386px}}
  @media only screen and (min-width: 736px) {
        .mapa {
          width: 100%;
          padding: = 0;
          height: 414px;}
          .container-nav2 {height: 190px}
          .sidenav0 {height: 414px};
          .sidenav1 {height: 414px};
          .sidenav2 {height: 414px;}}
  @media only screen and (min-width: 768px) {
        .mapa {
          width: 100%%;
          padding: = 0;
          height: 1024px;}
          .container-nav2 {height: 800px}
          .sidenav0 {height: 1024px}
          .sidenav1 {height: 1024px}
          .sidenav2 {height: 1024px}}
  @media only screen and (min-width: 773px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 435px;}
      .container-nav2 {height: 230px}
      .sidenav0 {height: 453px}
      .sidenav1 {height: 435px}
      .sidenav2 {height: 435px}}
  @media only screen and (min-width: 961px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 680px;}
      .container-nav2 {height: 456px}
      .sidenav0 {height: 680px}
      .sidenav1 {height: 680px}
      .sidenav2 {height: 680px}}
  @media only screen and (min-width: 1000px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 768px}
      .container-nav2 {height: 544px}
      .sidenav0 {height: 768px}
      .sidenav1 {height: 768px}
      .sidenav2 {height: 768px}}
  @media only screen and (min-width: 1024px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 768px}
      .container-nav2 {height: 644px}
      .sidenav0 {height: 768px}
      .sidenav1 {height: 768px}
      .sidenav2 {height: 768px}}
  @media only screen and (min-width: 1281px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 974px}
      .container-nav2 {height: 750px}
    .sidenav0 {height: 974px}
    .sidenav1 {height: 974px}
    .sidenav2 {height: 974px}}
  @media only screen and (min-width: 1700px) {
        .mapa {
          width: 100%;
          padding: 0;
          height: 974px}
          .container-nav2 {height: 750px}
          .sidenav0 {height: 974px}
          .sidenav1 {height: 974px}
          .sidenav2 {height: 974px}}
  @media only screen and (min-width: 2040px) {
    .mapa {
      width: 100%;
      padding: = 0;
      height: 974px}
      .container-nav2 {height: 750px}
      .sidenav0 {height: 974px}
      .sidenav1 {height: 974px}
      .sidenav2 {height: 974px}}
    }
