<!--<nav class="navbar navbar-default" role="navigation" bs-navbar>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
  <ul class="nav navbar-nav">
    <li data-match-route="/$"><a href="#/">Home</a></li>
    <li data-match-route="/page-one"><a href="#/page-one">Page One</a></li>
    <li data-match-route="/page-two.*"><a href="#/page-two/sub-a">Page Two</a></li>
  </ul>
</div>
</nav>-->
<section layout="row" >
<md-sidenav md-component-id="left0" layout="column" class="sidenav0" md-is-locked-open='true'>
  <section layout="column" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button ng-click="" class="md-fab md-mini" >
      <md-tooltip md-direction='right'>
        Inicio
      </md-tooltip>
      <md-icon md-svg-src="content/images/SVG/home.svg" style="color: white;"></md-icon>
    </md-button>
    <md-button  ng-click="openLeft1Menu()" class="md-fab md-mini"  >
      <md-tooltip md-direction='right'>
        Aplicaciones
      </md-tooltip>
      <md-icon md-svg-src="content/images/apps.svg" style="color: white;"></md-icon>
    </md-button>
    <md-button ng-click="openSideNav2()" class="md-fab md-mini"  >
      <md-tooltip md-direction='right'>
        Mapas
      </md-tooltip>
      <md-icon md-svg-src="content/images/map.svg" style="color: white;"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini" >
      <md-tooltip md-direction='right' >
        Capas
      </md-tooltip>
      <md-icon md-svg-src="content/images/layers.svg" style="color: white;"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini" >
      <md-tooltip md-direction='right'>
        Cuenta
      </md-tooltip>
      <md-icon md-svg-src="content/images/user.svg" style="color: white;"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini" >
      <md-tooltip>
        EStadísticas
      </md-tooltip>
      <md-icon md-svg-src="content/images/chart.svg" style="color: white;"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini" >
      <md-tooltip>
        Salir
      </md-tooltip md-direction='right'>
      <md-icon md-svg-src="content/images/SVG/exit.svg" style="color:white; height:16px; width:16px;"></md-icon>
    </md-button>
</section>
</md-sidenav>
<md-sidenav md-component-id="left1" layout="column" class="sidenav1" md-is-locked-open='true' md-disable-backdrop='false' md-whiteframe="4">
  <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
        <ul class="nav navbar-nav">
    <li><a><b>Capas</b></a></li>
    <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
    <li><a href="#"><span class="glyphicon glyphicon-trash"></span></a></li>
    <li><a href="#"><span class="glyphicon glyphicon-floppy-disk"></span></a></li>
  </ul>
  </div>
  </nav>
  <div class="container-nav1" >

  <md-list>
        <md-list-item  ng-repeat="item in capas" ng-click="navigateTo()">
          <div>
            <div class="accordion1">
                <p>
                <md-switch class="md-secondary" ng-model="setting.enabled"><md-tooltip md-direction="left">Encender/apa</md-tooltip></md-switch>
                <img alt="{{ item.tipo }}" ng-src="{{ item.tipo }}" class="md-avatar">
                <h5capa>{{item.nombre}}</h5capa>
              </p>
      <!--        <md-icon md-svg-src="content/images/ultimate/download-1.svg" class="md-secondary1" ng-click="" style="color:white; height:16px; width:16px; hover:red; visited: green;"></md-icon>
              <md-icon md-svg-src="content/images/ultimate/upload-1.svg" class="md-secondary1" ng-click="" style="color:white; height:16px; width:16px;"></md-icon>
              <md-icon md-svg-src="content/images/SVG/little-table-grid.svg" class="md-secondary1" ng-click="" style="color:white; height:16px; width:16px;"></md-icon>
              <md-icon md-svg-src="content/images/SVG/garbage-2.svg" class="md-secondary1" ng-click="" style="color:white; height:16px; width:16px;"></md-icon>
              <md-icon md-svg-src="content/images/SVG/layers.svg" class="md-secondary1" ng-click="" style="color:white; height:16px; width:16px;"></md-icon> -->
              <md-icon md-svg-src="content/images/controls.svg" class="md-secondary1" ng-click="" style="color:white; height:20px; width:20px;">
                <md-tooltip md-direction="left">Configurar</md-tooltip>
              </md-icon>
            </div>
            <md-divider ></md-divider>
        </div>
        </md-list-item>
  </md-list>
</div>
</md-sidenav>
<md-sidenav md-component-id="left2" layout="column" class="sidenav2" md-is-locked-open='true' md-disable-backdrop='true' md-whiteframe="4">
  <button class="accordion">General</button>
  <div class="panel">
    <p>Transprencia de la capa
    <md-slider-container ng-disabled="isDisabled">
      <md-icon md-svg-src="content/images/brillo.svg" class="md-secondary1" ng-click="" style="color:white; height:20px; width:20px;"></md-icon>
      <md-slider ng-model="invert" min:"0" max:"100" flex md-discrete ng-readonly="readonly"></md-slider>
      <md-input-container>
        <input flex type="number" ng-model="invert"  aria-controls="green-slider">
      </md-input-container>
    </md-slider-container>
    </p>
   <div style="margin-top: 20px;"></div>
  </div>

  <button class="accordion">Simbología</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Tabla de atributos</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>
</md-sidenav>
<md-content flex layout="column">
  <ng-view>
  <div>
    <div  class="mapa">
      <nav mfb-menu position="tl" effect="zoomin" label="Análisis"
               active-icon="ion-edit" resting-icon="ion-plus-round"
               toggling-method="hover">
            <button mfb-button icon="ion-gear-a" label="menu item 1"></button>
            <button mfb-button icon="ion-settings" label="menu item 2"></button>
            <button mfb-button icon="ion-pie-graph" label="menu item 3"></button>
            <button mfb-button icon="ion-cloud" label="menu item 4"></button>
            <button mfb-button icon="ion-person" label="menu item 5"></button>
            <button mfb-button icon="paper-airplane" label="menu item 6"></button>
            <button mfb-button icon="paper-airplane" label="menu item 7"></button>
            <button mfb-button icon="paper-airplane" label="menu item 8"></button>
            <button mfb-button icon="paper-airplane" label="menu item 9"></button>
       </nav>
      <nav mfb-menu position="tr" effect="zoomin" label="Análisis"
               active-icon="ion-edit" resting-icon="ion-plus-round"
               toggling-method="hover">
            <button mfb-button icon="ion-gear-a" label="menu item 1"></button>
            <button mfb-button icon="ion-settings" label="menu item 2"></button>
            <button mfb-button icon="ion-pie-graph" label="menu item 3"></button>
            <button mfb-button icon="ion-cloud" label="menu item 4"></button>
            <button mfb-button icon="ion-person" label="menu item 5"></button>
            <button mfb-button icon="paper-airplane" label="menu item 6"></button>
            <button mfb-button icon="paper-airplane" label="menu item 7"></button>
            <button mfb-button icon="paper-airplane" label="menu item 8"></button>
            <button mfb-button icon="paper-airplane" label="menu item 9"></button>
       </nav>
       <div>
         <circular
           options="options">
         </circular>
      </div>
      <leaflet lf-center="center" width="100%" height="80%" ></leaflet>
      <div class="table-wrapper" >
      <div class="table-scroll">
        <table>
        <thead>
          <tr>
            <th><span class="text">Nombre</span></th>
                <th><span class="text">Apellido</span></th>
                <th><span class="text">Correo</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>

    </div>

  </ng-view>
</md-content>
</section>
