<script type="text/ng-template" id="withintool.html">
        <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Seleccionar puntos contenidos en un polígono</h4>
             </div>
             <div class="modal-body">
               <div class="container-2 main-section" style="/*border:1px solid #ccc;border-radius: 4px;padding-bottom: 10px;*/">
                <div class="content-panel" style="border:none;box-shadow:none;">
                   <div class="container-1">
                     <div class="img-content">
                          <md-icon md-svg-icon="content/images/turf-within.svg" style="color: white; width:100px; height:100px;"></md-icon>
                     </div>
                     <div class="description">
                       <div class="content-description">
                         Toma una capa de puntos y una capa de polígonos y devuelve los puntos que caen dentro de los polígonos .
                       </div>
                     </div>
                   </div>
                   <div class="container-2">
                   <div class="layer-1">
                     Capa 1:<select name="layer_1_sel" id="layer_1_sel" data-ng-model="ddlvalue1">
                     <option value="">---Seleccionar capa---</option>
                      <option ng-repeat="layer in layers1" value="{{layer.id}}">{{layer.name}}</option>
                     </select>
                   </div>
                   <div class="layer-2">
                     Capa 2:<select name="layer_2_sel" id="layer_2_sel" data-ng-model="ddlvalue2">
                     <option value="">---Seleccionar capa---</option>
                      <option ng-repeat="layer in layers2" value="{{layer.id}}">{{layer.name}}</option>
                     </select>
                   </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="modal-footer">
               <md-button ng-click="process()" class="btn btn-primary" data-dismiss="modal">Ejecutar</md-button>
             </div>
           </div>
         </div>
       </div>
</script>
