<script type="text/ng-template" id="mergetool.html">
        <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Fusionar dos capas</h4>
             </div>
             <div class="modal-body">
               <div class="container-2 main-section">
                <div class="content-panel" style="border:none;box-shadow:none;">
                 <div class="container-1">
                   <div class="img-content">
                       <md-icon md-svg-icon="content/images/turf-merge.svg" style="color: white; width:100px; height:100px;"></md-icon>
                   </div>
                   <div class="description">
                     <div class="content-description">
                       Toma un conjunto de polígonos y devuelve una única entidad de polígono resultante de la fusión. Si las entidades de polígono de entrada no son contiguos, esta función devuelve una capa MultiPoligono
                     </div>
                   </div>
                 </div>
                 <div class="container-2">
                   <div class="layer-1">
                     Capa 1:<select name="layer_1_sel" id="layer_1_sel" data-ng-model="ddlvalue1">
                     <option value="">---Seleccionar capa---</option>
                      <option ng-repeat="layer in layersMap" value="{{layer.id}}">{{layer.name}}</option>
                     </select>
                   </div>
                   <div class="layer-2">
                     Capa 2:<select name="layer_2_sel" id="layer_2_sel" data-ng-model="ddlvalue2">
                     <option value="">---Seleccionar capa---</option>
                      <option ng-repeat="layer in layersMap" value="{{layer.id}}">{{layer.name}}</option>
                     </select>
                   </div>
                 </div>
                </div>
              </div>
             </div>
             <div class="modal-footer">
               <md-button ng-click="process()" class="btn btn-primary" data-dismiss="modal">Ejecutar</md-button>
             </div>
           </div>
         </div>
       </div>
</script>
