<script type="text/ng-template" id="updatetool.html">
        <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Intersectar y actualizar atributos de 2 polígonos</h4>
             </div>
             <div class="modal-body">
               <div class="container-2 main-section">
                <div class="content-panel" style="border:none;box-shadow:none;">
                   <div class="container-1">
                     <div class="img-content">
                         <md-icon md-svg-icon="content/images/turf-explode.svg" style="color: white; width:100px; height:100px;"></md-icon>
                     </div>
                     <div class="description">
                       <div class="content-description">
                        Calcula una intersección geométrica de entidades de entrada y actualiza entidades. Los atributos y la geometría de las entidades de entrada se actualizan mediante las entidades de actualización en la clase de entidad de salida.
                       </div>
                     </div>
                   </div>
                   <div class="container-2">
                     <div class="layer-1">
                       Capa:<select name="layer_1_sel" id="layer_1_sel" data-ng-model="ddlvalue">
                       <option value="">---Seleccionar capa---</option>
                        <option ng-repeat="layer in layersMap" value="{{layer.id}}">{{layer.name}}</option>
                       </select>
                     </div>
                   </div>
                </div>
              </div>
             </div>
             <div class="modal-footer">
               <md-button ng-click="process()" class="btn btn-primary">Ejecutar</md-button>
             </div>
           </div>
         </div>
       </div>
</script>
