<script type="text/ng-template" id="assigndevice.html">
        <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Asignación de requerimientos</h4>
             </div>
             <div class="modal-body">
               <div class="container-2 main-section">
                <div class="content-panel" style="border:none;box-shadow:none;">
                   <div class="container-2">
                     <div class="layer-1">
                       Capa:<select name="layer_1_sel" id="layer_1_sel" data-ng-model="ddlvalue1">
                       <option value="">---Seleccionar capa---</option>
                        <option ng-repeat="layer in arrLayers" value="{{layer.id}}">{{layer.name}}</option>
                       </select>
                       <div style="margin-top:10px"> 
                        <!--<input ng-model="value" type="text" id="mySlider1" slider options="optionSlider" ng-disabled="disabled"/>-->
                         Distancia (Km):
                         <output name='result' id='result' for='distance' style="color:#FFF;">1</output>
                         <br>
                         <input id='distance' name='distance' type='range' value='1' max='100' min='1' step='1' oninput="result.value = distance.value">
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="modal-footer">
               <md-button ng-click="process('Cancel')" class="btn btn-primary">Ejecutar</md-button>
             </div>
           </div>
         </div>
       </div>
</script>
