<script type="text/ng-template" id="addexternallink.html">
        <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Adicionar archivo desde enlace URL</h4>
             </div>
             <div class="modal-body">
               <div class="container-1">
                  <div class="content-panel" style="border:none;box-shadow:none;">
                   <div>
                      <label for="url" style="font-weight:bold;color:#000000;">URL</label><input id="url-obj" name="url-obj" ng-model="url" type="text" required></input>
                   </div>
                 </div>
               </div>
             </div>
             <div class="modal-footer">
               <md-button ng-click="loadFile()" class="btn btn-primary">Ejecutar</md-button>
             </div>
           </div>
         </div>
       </div>
</script>
